<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="TaskTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="senderEmail"  value=""/>
		<add key="senderDisplayName"  value="Task Tracker Application"/>
	</appSettings>
    <connectionStrings>
		<add name="TaskTracker" connectionString=";Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host ="smtp.gmail.com" userName="" password="" port="587" enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TaskTracker.Properties.Settings>
            <setting name="EmailCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DayCheckBox" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="HourCheckBox" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="MinuteCheckBox" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="DayValue" serializeAs="String">
                <value />
            </setting>
            <setting name="HourValue" serializeAs="String">
                <value />
            </setting>
            <setting name="MinuteValue" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
        </TaskTracker.Properties.Settings>
    </userSettings>
</configuration>